@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ffffff;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
  }
}
