@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060f18;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
